.topSlider {
  &__item {

  }
}

.owl-theme {
  .owl-dots {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    .owl-dot {
      width: 20px;
      height: 20px;
      span {
        background-color: white;
        margin: 7px auto 0 auto;
        height: 6px;
        width: 6px;
      }
      &.active {
        position: relative;
        span {
          background-color: white;
        }
      }
      &:hover {
        span {
          background-color: white;
        }
      }
    }

    .circle {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
      & > svg {
        width: 100%;
        display: block;
      }
    }

  }
}

.topSlider, .leftSlider, .rightSlider {
  &__item {

  }
}

.botSlide {
  display: flex;
  flex-direction: row;
}
.botSlider {
  width: 50%;
  height: 500px;
  float: left;
  background: lightskyblue;
  &--right {
    .owl-dots {
      display: none;
    }
  }
}
