html
  display: flex
  justify-content: center

body
  font-family: $mainfont

p, h1, h2, h3, h4, h5, h6
  margin: 0px
  padding: 0px

.main-wrapper
  width: 1000px
  height: 1000px
  margin-top: 25px
  //background: lightskyblue


@media (max-width: 1000px)
  .main-wrapper
    width: 100vw !important
