.main-wrapper
  .work-with-us-container
    display: flex
    flex-direction: column
    p
      line-height: 25px
    .mail-link
      color: $bhblue
    a
      margin: 0px
    a:visited
      text-decoration: none
    .mail-button-container
      display: flex
      align-self: center
      height: 50px
      width: 250px
      a
        text-decoration: none
      a:visited
        text-decoration: none
      a:hover
        transform: scale(1.1)
        transition: transform 0.25s ease-in-out
      .mail-button
        display: flex
        justify-content: center
        align-items: center
        height: 50px
        width: 250px
        background: $bhblue
        color: white
        font-size: 16pt
        text-align: center
        letter-spacing: 1px
        margin-top: 25px
        padding: 0px


@media(max-width: 1000px)
  .main-wrapper
    .work-with-us-container
      width: auto
      padding: 0px 15px


@media (max-width: 500px)
  .main-wrapper
    .work-with-us-container
      .mail-button-container
        height: 45px
        width: 225px
        .mail-button
          height: 45px
          width: 225px
          p
            font-size: 16pt
            letter-spacing: 1px
            color: white


@media (max-width: 340px)
  .main-wrapper
    .work-with-us-container
      .mail-button-container
        height: 40px
        width: 200px
        .mail-button
          height: 40px
          width: 200px
          p
            font-size: 14pt
            margin-top: -1px
            letter-spacing: 1px
            color: white
