.footer-container
  .footer-logo
  .copyright-info
    p Copyright 2012-2017 Gemini Digital
  ul.footer-nav
    li.footer-nav-item: a(href='index.html') home
    li.footer-nav-item: a(href='about-us.html') about us
    li.footer-nav-item: a(href='our-work.html') our work
    li.footer-nav-item: a(href='work-with-us.html') work with us
    li.footer-nav-item: a(href='contact.html') contact
