.navigation-wrapper
  .logo
    
    .hamburger
      .line1
      .line2
      .line3

  
  .desktop-nav-container
    ul.desktop-nav
      li.desktop-nav-item home
      li.desktop-nav-item about us
      li.desktop-nav-item our work
      li.desktop-nav-item work with us
      li.desktop-nav-item contact
      
    ul.mobile-nav
      li.mobile-nav-item home
      li.mobile-nav-item about us
      li.mobile-nav-item our work
      li.mobile-nav-item work with us
      li.mobile-nav-item contact
  
