.navigation-wrapper
  .logo
    
    .hamburger
      .line1
      .line2
      .line3

  
  .desktop-nav-container
    ul.desktop-nav
      li.desktop-nav-item: a(href='index.html') home
      li.desktop-nav-item: a(href='about-us.html') about us
      li.desktop-nav-item: a(href='our-work.html') our work
      li.desktop-nav-item: a(href='work-with-us.html') work with us
      li.desktop-nav-item: a(href='contact.html') contact
      
    ul.mobile-nav
      li.mobile-nav-item: a(href='index.html') home
      li.mobile-nav-item: a(href='about-us.html') about us
      li.mobile-nav-item: a(href='our-work.html') our work
      li.mobile-nav-item: a(href='work-with-us.html') work with us
      li.mobile-nav-item: a(href='contact.html') contact
  
