doctype html
html
   
  head
    title='Bluhare'
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='assets/css/index.css') 
    link(rel='stylesheet' href='assets/css/animate.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Questrial')
    link(rel='icon' type='image/png' href='assets/images/bh-favicon.png')
    meta(http-equiv='cache-control' content='max-age=0')
    meta(http-equiv='cache-control' content='no-cache')
    meta(http-equiv='expires' content='0')
    meta(http-equiv='expires' content='Tue, 01 Jan 1980 1:00:00 GMT')
    meta(http-equiv='pragma' content='no-cache')
      
  header#nav-section
  include navigation.pug
  
  body
    .main-wrapper
      .our-work
        h2.page-title Featured Titles
        .page-break
        .featured-titles-container
          .featured-title-row
            a(href='https://vimeo.com/190915099' data-fancybox='tinsel')
              .featured-title-1
            a(href='https://vimeo.com/190921390' data-fancybox="hanabi")
              .featured-title-2
            a(href='https://vimeo.com/190914608' data-fancybox="pirates")
              .featured-title-3
              
          .featured-title-row
            a(href='https://vimeo.com/196477435' data-fancybox="merlin")
              .featured-title-4
            a(href='https://vimeo.com/190914607' data-fancybox="olympus")
              .featured-title-5
            a(href='https://vimeo.com/197429363' data-fancybox="sacred")
              .featured-title-6
      
          .featured-title-row
            a(href='https://vimeo.com/197460118' data-fancybox="egypt")
              .featured-title-7
            a(href='https://vimeo.com/216240884' data-fancybox='88_delight')
              .featured-title-8
            .featured-title-9
          
          .featured-title-row
            .featured-title-10
            a(href='assets/images/featured-games/11_paleo_wilds/paleo_1.jpg' data-fancybox='paleo')
              .featured-title-11
            .featured-title-12
              
          .featured-title-row
            .featured-title-13
            .featured-title-14
            .featured-title-15
              
          .featured-title-row
            .featured-title-16
            .featured-title-17
            .featured-title-18
          
          .featured-title-row
            .featured-title-19
            .featured-title-20
            .featured-title-21
              
          .featured-title-row
            .featured-title-22
            .featured-title-23
            .featured-title-24
              
          .featured-title-row
            .featured-title-25
            .featured-title-26
            .featured-title-27
          
          .featured-title-row
            .featured-title-28
            .featured-title-29
            .featured-title-30
                  
    //tinsel town image gallery
    a(href="assets/images/featured-games/1_tinseltown/tinsel_1.jpg" data-fancybox="tinsel")


    //Hanabi Taikai Image Gallery
    a(href="assets/images/featured-games/2_hanabi_taikai/hanabi_1.jpg" data-fancybox="hanabi")

    //Pretty Pirates Image Gallery
    a(href="assets/images/featured-games/3_pretty_pirates/pirates_1.jpg" data-fancybox="pirates")

    //Merlin's Wand Image Gallery
    a(href="assets/images/featured-games/4_merlin_wand/merlin_1.jpg" data-fancybox="merlin")

    //Journey to Olympus Image Gallery
    a(href="assets/images/featured-games/5_journey_olympus/olympus_1.jpg" data-fancybox="olympus")

    //Sacred Temple Image Gallery
    a(href="assets/images/featured-games/6_sacred_temple/temple_1.jpg" data-fancybox="temple")

    //Heart of Egypt Image Gallery
    a(href="assets/images/featured-games/7_heart_egypt/egypt_1.jpg" data-fancybox="egypt")

    //Paleo Wilds Image Gallery
    //a(href="assets/images/featured-games/11_paleo_wilds/paleo_1.jpg" data-fancybox="paleo")

    //Sleepy Hollow Image Gallery
    a(href="assets/images/featured-games/9_sleepy_hollow/sleepy_1.jpg" data-fancybox="sleepy")
        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")              
    script(src="assets/js/jquery.fancybox.js")
    script(src="assets/js/app.js")
    
  include footer.pug
    
